.container-cabecalho{
    background-color: rgb(0, 15, 110);
}

.active{
    background-color: rgb(15, 230, 15)!important;
    color: rgb(0, 15, 110);
}

.active:hover{
    background-color: rgb(0, 130, 0)!important;
    color: #fff;
}

.nav-link{
    color: #fff!important;
}

.nav-link:hover{
    color:  rgb(15, 230, 15)!important;
}

.fa-icon{
    color: black!important;
}