<div class="container-fluid container-cabecalho px-5">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
       <img src="/assets/imagens/trello-logo.webp" alt="Trello" width="100">
      </a>

      <div class="dropdown me-2">
        <button
          class="btn btn-light dropdown-toggle"
          *ngIf="exibirFiltro"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false">
          Filtrar Tarefa
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" role="button" (click)="atualizarTipoSelecionado('Todos')">Todos</a></li>
          <li><a class="dropdown-item" role="button" (click)="atualizarTipoSelecionado('documentation')">Documentação</a></li>
        </ul>
      </div>

      <ul class="nav nav-pills">
        <li *ngIf="exibirBotaoNovaTarefa" class="nav-item me-2">
        <button type="button" class="btn btn-light">
            <fa-icon [icon]="faPlus" class="fa-icon"></fa-icon> 
        </button>
      </li>
        <li class="nav-item">
        <button type="button" (click)="logOut()" class="btn btn-light">
            <fa-icon [icon]="faSignOut"  class="fa-icon"></fa-icon> 
        </button>
      </li>
      </ul>
    </header>
  </div>
