<main class="form-signin w-100 m-auto">
  <form [formGroup]="loginForm" class="container text-center" (ngSubmit)="fazerLogin()">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-4 col-md-6 col-10">
        <img class="mb-4" src="/assets/imagens/trello-logo.png" alt
          width="200px">
        <div class="form-floating">
          <input
            type="email"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
            name="email"
            [(ngModel)]="usuario.email"
            formControlName="email">
          <label for="floatingInput">E-mail</label>
          <div class="text-danger my-2">
            <small *ngIf="loginForm.controls['email'].errors?.['required']">O
              Campo e-mail é obrigatório</small>
            <small *ngIf="loginForm.controls['email'].errors?.['email']">Formato
              do e-mail inválido</small>
          </div>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword"
            placeholder="Password" name="senha" [(ngModel)]="usuario.senha"
            formControlName="senha">
          <label for="floatingPassword">Senha</label>
          <div class="text-danger my-2">
            <small *ngIf="loginForm.controls['senha'].errors?.['required']">O
              Campo senha é obrigatório</small>
            <small *ngIf="loginForm.controls['senha'].errors?.['minLength']">A
              senha deve conter no mínimo 6 caracteres</small>
            <small *ngIf="loginForm.controls['senha'].errors?.['pattern']">A
              senha deve conter ao menos uma letra maiúscula, uma letra
              minúscula, um número e um caracter especial.</small>
          </div>
        </div>

        <div class="checkbox mb-3 text-start my-3">
          <label>
            <input type="checkbox" name="manterConectado"
              [(ngModel)]="usuario.manterConectado" value="remember-me"
              formControlName="manterConectado">
            Mantenha-me conectado
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" [disabled]="loginForm.invalid"
          type="submit">Acessar</button>
        <div class="text-center mt-3">
          <small class="text-danger">{{ erro }}</small>
        </div>
        <p class="mt-5 mb-3 text-muted">Treina Recife &copy; 2025</p>
      </div>
    </div>
  </form>
</main>
