<app-cabecalho></app-cabecalho>
<div class="container mt-5">
  <h1 class="text-center text-primary">Olá, mundo</h1>
  <p class="text-muted text-center">Um projeto Angular 19 estilizado com
    Bootstrap.</p>
  <button class="btn btn-sucess d-block mx-auto">Clique aqui</button>

  <div class="card mt-3">
    <img class="card-img-top"
      src="360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg" alt>
    <div class="card-body">
      <h5 class="card-title">Título do Cartão</h5>
      <p class="card-text">Exemplo de cartão utilizando Bootstrap.</p>
      <a class="btn btn-primary" href="#">Saiba mais</a>
    </div>
  </div>
</div>
<app-rodape></app-rodape>

<router-outlet />
